@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="column-layout master-view-container">
    <div class="row-layout main-navigation">
        <IgbNavbar class="navbar" master_view-scope>
            <div class="row-layout group">
                <div @onclick="@(e => Navigate("/home"))" class="row-layout group_1">
                    <img src="assets/logo2.svg" class="image" />
                    <p class="typography__subtitle-2 text">
                        HEALTHCARE ASSISTANT
                    </p>
                </div>
            </div>
            <div slot="end" class="row-layout group_2">
                <div class="row-layout group_1">
                    <IgbAvatar Src="assets/Avatar13.png" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                    <p class="typography__subtitle-2 text">
                        Sandy Anderson
                    </p>
                </div>
                <IgbIconButton Variant="IconButtonVariant.Flat" @onclick="@(e => _navDrawer!.ToggleAsync())" class="icon-button" master_view-scope>
                    <span class="material-icons icon">
                        menu
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </div>
        </IgbNavbar>
    </div>
    <div class="row-layout bottom-container">
        <div class="view-container">
            @Body
        </div>
        <IgbNavDrawer Position="NavDrawerPosition.End" @ref="_navDrawer" class="nav-drawer" master_view-scope>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/home"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        home
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Home</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/medications"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        healing
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Medications</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/health_indicators"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Health Indicators</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/appointments"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        calendar_today
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Appointments</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/profile"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        account_circle
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Medical Profile</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/emergency"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        error
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Emergency</div>
            </IgbNavDrawerItem>
        </IgbNavDrawer>
    </div>
</div>

@code {
    private IgbNavDrawer _navDrawer;

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
